body:has([data-admin-theme]) {
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  & h1,
  & h2,
  & h3,
  & h4 {
    font-family: inherit;
  }

  & .input-default {
    height: 2.25rem;
  }

  & .input-lg {
    height: 2.5rem;
  }

  & .input-sm {
    height: 2rem;
  }

  & .input-size-lg {
    width: 2.5rem;
    height: 2.5rem;
  }

  & [data-slot='button'].h-10:not(.px-6),
  & [data-slot='dropdown-menu-trigger'].h-10:not(.px-6),
  & [data-slot='dialog-trigger'].h-10:not(.px-6),
  & [data-slot='dialog-close'].h-10:not(.px-6),
  & [data-slot='popover-trigger'].h-10:not(.px-6) {
    padding-inline: 1rem;
  }

  & [data-slot='button'].h-9:not(.px-6),
  & [data-slot='dropdown-menu-trigger'].h-9:not(.px-6),
  & [data-slot='dialog-trigger'].h-9:not(.px-6),
  & [data-slot='dialog-close'].h-9:not(.px-6),
  & [data-slot='popover-trigger'].h-9:not(.px-6) {
    padding-inline: 0.75rem;
  }

  & button:not(:disabled),
  & [role='checkbox']:not(:disabled),
  & [role='radio']:not(:disabled),
  & [role='switch']:not(:disabled),
  & [role='button']:not(:disabled),
  & label[for],
  & label:has([role='checkbox']):not(:disabled),
  & label:has([role='radio']):not(:disabled),
  & label:has([role='switch']):not(:disabled),
  & [role='slider']:not([data-disabled]),
  & input[type='number']::-webkit-inner-spin-button,
  & input[type='number']::-webkit-outer-spin-button {
    cursor: pointer;
  }

  & [role='menuitem']:not(:disabled),
  & [role='menuitemcheckbox']:not(:disabled),
  & [role='menuitemradio']:not(:disabled),
  & [role='option']:not(:disabled) {
    cursor: pointer !important;
  }
}
